<!-- ***** Preloader Start ***** -->
<div id="preloader">
  <div class="jumper">
      <div></div>
      <div></div>
      <div></div>
  </div>
</div>  
<!-- ***** Preloader End ***** -->


<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <nav class="main-nav">
                  <!-- ***** Logo Start ***** -->
                  <a href="index.html" class="logo">
                      MULTIBANK 
                  </a>
                  <!-- ***** Logo End ***** -->
                  <!-- ***** Menu Start ***** -->
                  <ul class="nav">
                      <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                      <li class="scroll-to-section"><a href="#about">About</a></li>
                      <li class="scroll-to-section"><a href="#contact-us">Contact Us</a></li> 
                      <button class="btn btn-outline-light text-white" type="submit" (click) = "login()">{{value}}</button>
                      <button class="btn btn-outline-light text-white" type="submit" (click) = "register()">Register</button>
        
                      
                      
                  </ul>        
                  <a class='menu-trigger'>
                      <span>Menu</span>
                  </a>
                  <!-- ***** Menu End ***** -->
              </nav>
          </div>
      </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->


<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner header-text" id="top">
  <div class="Modern-Slider">
    <!-- Item -->
    <div class="item">
      <div class="img-fill">
          <img src="assets/images/slide-01.jpg" alt="">
          <div class="text-content">
            <h2>Welcome To MULTIBANK APP</h2>
            <h5></h5>
            <a href="#" class="main-filled-button"></a>
            <a href="#" class="main-filled-button"></a>
          </div>
      </div>
    </div>
   
    <!-- // Item -->
  </div>
</div>
<div class="scroll-down scroll-to-section"><a href="#about"><i class="fa fa-arrow-down"></i></a></div>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** About Area Starts ***** -->
<section class="section" id="about">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12">
              <div class="left-text-content">
                  <div class="section-heading">
                      <h6>About Us</h6>
                      <h2></h2>
                  </div>
                  <div class="row">
                      <div class="col-md-6 col-sm-6">
                          <div class="service-item">
                              <img src="assets/images/service-item-01.png" alt="">
                              <h4>Fast Transactions</h4>
                          </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                          <div class="service-item">
                              <img src="assets/images/service-item-01.png" alt="">
                              <h4>Reliable</h4>
                          </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                          <div class="service-item">
                              <img src="assets/images/contact-info-03.png" alt="">
                              <h4>Robust</h4>
                          </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                          <div class="service-item">
                              <img src="assets/images/contact-info-03.png" alt="">
                              <h4>Safe and Secure</h4>
                          </div>
                      </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12">
              <div class="right-text-content">
                  <p><a rel="nofollow noopener" href="https://templatemo.com/tm-543-breezed" target="_parent">MULTIBANK APP</a> enable users to manage their accounts via smartphones: 
                    activate bank cards, check balances, view payment histories and more.When it comes to mobile apps, a crucial thing that goes the same in every app, 
                    irrespective of its niche, is the login process. Through the login process, the customer first enters your app and analyzes its design. 
                    Now, a crucial aspect that you need to address here is the security and effectiveness of the login feature. People nowadays don’t want to spend much time and also want quick services. 
                    Bank account opening is also one such aspect where people don’t want to wait, 
                    yet it is a critical aspect. That’s why we offer instant bank account opening features in their mobile banking app.
                  <br><br>
                <br><br></p>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- ***** About Area Ends ***** -->


<!-- ***** Features Big Item End ***** -->







<!-- ***** Contact Us Area Starts ***** -->
<section class="section" id="contact-us">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-4 col-xs-12">
              <div class="left-text-content">
                  <div class="section-heading">
                      <h6>Contact Us</h6>
                      <h2>Feel free to keep in touch with us!</h2>
                  </div>
                  <ul class="contact-info">
                      <li><img src="assets/images/contact-info-01.png" alt="">83428004240</li>
                      <li><img src="assets/images/contact-info-02.png" alt="">multibank@company.com</li>
                      <li><img src="assets/images/contact-info-03.png" alt="">www.multibankapp.com</li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-8 col-md-8 col-xs-12">
              <div class="contact-form">
                  <form id="contact" action="" method="get">
                    <div class="row">
                      <div class="col-md-6 col-sm-12">
                        <fieldset>
                          <input name="name" type="text" id="name" placeholder="Your Name *" required="">
                        </fieldset>
                      </div>
                      <div class="col-md-6 col-sm-12">
                        <fieldset>
                          <input name="phone" type="text" id="phone" placeholder="Your Phone" required="">
                        </fieldset>
                      </div>
                      <div class="col-md-6 col-sm-12">
                        <fieldset>
                          <input name="email" type="email" id="email" placeholder="Your Email *" required="">
                        </fieldset>
                      </div>
                      <div class="col-md-6 col-sm-12">
                        <fieldset>
                          <input name="subject" type="text" id="subject" placeholder="Subject">
                        </fieldset>
                      </div>
                      <div class="col-lg-12">
                        <fieldset>
                          <textarea name="message" rows="6" id="message" placeholder="Message" required=""></textarea>
                        </fieldset>
                      </div>
                      <div class="col-lg-12">
                        <fieldset>
                          <button type="submit" id="form-submit" class="main-button-icon">Send Message Now <i class="fa fa-arrow-right"></i></button>
                        </fieldset>
                      </div>
                    </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- ***** Contact Us Area Ends ***** -->

<!-- ***** Footer Start ***** -->
<footer>
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-xs-12">
              <div class="left-text-content">
                  <p>Copyright &copy; 2020 MultiBank Co., Ltd. 
                  
                  -<a rel="nofollow noopener" href="https://templatemo.com"></a></p>
              </div>
          </div>
          <div class="col-lg-6 col-xs-12">
              <div class="right-text-content">
                      <ul class="social-icons">
                          <li><p>Follow Us</p></li>
                          <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-facebook"></i></a></li>
                          <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-twitter"></i></a></li>
                          <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-linkedin"></i></a></li>
                          <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-dribbble"></i></a></li>
                      </ul>
              </div>
          </div>
      </div>
  </div>
</footer>
