.login,
.image {
  min-height: 100vh;
}
.bg-image {
  background-image:url(/assets/images/mypic.jpg);
  background-size: cover;
  background-position: center center;
}
.col-md-6 d-none d-md-flex bg-image
{
  background: linear-gradient(90deg, #5D54A4, #7C78B8);
  
}
.container-fluid
{
  background-color: rgb(17, 17, 17);
}
h3
{
  color: azure;
}
label{
  color: aliceblue;
}
#right
{
  background: linear-gradient(to bottom, #0f0c29, #6a6781, #24243e);
}
