<header class="header-area header-sticky">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <nav class="main-nav">
                  <!-- ***** Logo Start ***** -->
                  <a href="index.html" class="logo">
                      MULTIBANK 
                  </a>
                  <!-- ***** Logo End ***** -->
                  <!-- ***** Menu Start ***** -->
                  <ul class="nav">
                      <li class="scroll-to-section"><a href="/home" class="active">Home</a></li>
                      <li class="scroll-to-section"><a href="/home">About</a></li>
                      <li class="scroll-to-section"><a href="/home">Contact Us</a></li> 
                      <button class="btn btn-outline-dark text-light" type="submit"class="clssub1" (click) ="login()">{{value}}</button>
                      <button class="btn btn-outline-dark text-light" type="submit" (click) ="register()">Register</button>
                      
                      
                      
                  </ul>   
                       
                  <a class='menu-trigger'>
                      <span>Menu</span>
                  </a>
                  <!-- ***** Menu End ***** -->
              </nav>
          </div>
      </div>
  </div>
</header>





